{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'home/home.css' %}">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{% url 'home:index' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'home:all_products' %}">All prodcuts</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'home:cart' %}">Cart</a></li>
                {% if not user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'home:register' %}">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'home:login' %}">Login</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'home:user' user.id %}">{{user}}</a></li>
                <form method="post" action="{% url 'home:logout' %}">
                    {% csrf_token %}
                    <li class="nav-item"><button class="nav-link" href="{% url 'home:logout' %}">Logout</button></li>
                </form>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>